
.main-content {
    flex: 1 0 auto;
    min-width: 340px;
    margin: 1rem 0;
    border-radius: .25rem;
}

form {
    display: grid;
    align-items: center;
    grid-template-columns: .2fr .8fr;
    row-gap: .25rem;
}
input {
    padding: .25rem .5rem;
}
button[type="submit"] {
    margin: .25rem 0 0;
    justify-self: self-end;
    width: 10vw;
    grid-column: 1 / span 2;
}

.footer {
    flex-shrink: 0;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}